
<div class="p-4" *ngIf="{
	operator: currentOperator$ | async
} as scope">
	<!-- display -->
	<div class="text-[80px] text-white h-[110px] text-right">
		{{ display$ | async }}
	</div>

	<div class="grid grid-cols-4 justify-center items-center gap-x-5 mt-5">
		<div class="button function col-start-3" (click)="onClear()">C</div>
		<div class="button operator" [class.active]="scope.operator === '/'" (click)="onOperatorButtonClick('/')">/</div>
	</div>

	<div class="grid grid-cols-4 justify-center items-center gap-x-5 mt-5">
		<div class="button number" (click)="onNumberButtonClick('7')">7</div>
		<div class="button number" (click)="onNumberButtonClick('8')">8</div>
		<div class="button number" (click)="onNumberButtonClick('9')">9</div>
		<div class="button operator" [class.active]="scope.operator === '*'" (click)="onOperatorButtonClick('*')">*</div>
	</div>

	<div class="grid grid-cols-4 justify-center items-center gap-x-5 mt-5">
		<div class="button number" (click)="onNumberButtonClick('4')">4</div>
		<div class="button number" (click)="onNumberButtonClick('5')">5</div>
		<div class="button number" (click)="onNumberButtonClick('6')">6</div>
		<div class="button operator" [class.active]="scope.operator === '-'" (click)="onOperatorButtonClick('-')">-</div>
	</div>

	<div class="grid grid-cols-4 justify-center items-center gap-x-5 mt-5">
		<div class="button number" (click)="onNumberButtonClick('1')">1</div>
		<div class="button number" (click)="onNumberButtonClick('2')">2</div>
		<div class="button number" (click)="onNumberButtonClick('3')">3</div>
		<div class="button operator" [class.active]="scope.operator === '+'" (click)="onOperatorButtonClick('+')">+</div>
	</div>

	<div class="grid grid-cols-4 justify-center items-center gap-x-5 mt-5">
		<div class="button number col-start-2" (click)="onNumberButtonClick('0')">0</div>
		<div class="button number" (click)="onNumberButtonClick('.')">,</div>

		<div class="button operator" (click)="onOperatorButtonClick('=')">=</div>
	</div>

	<div class="text-white">{{ equation$ | async }}</div>
</div>
